<!-- Services Section -->
<section id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Skills</h2>
                <p class="large text-muted">
                    After learning how to mediate between 3 different languages, I took a step further by mediating between user needs and code possibilities, adding to the whole lot my passion for good design and illustration.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">IA/UX</h4>
                    <p class="text-muted">
                        sketching, <b>wireframing</b>, prototyping, Axure, Balsamiq, <b>user testing</b>, SEO, web analytics, <b>User Interface design, responsive design</b>, agile project planning, cross-channel user experience, Information Architecture for physical and on-line mediums.
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Web Development</h4>
                        <p class="text-muted">During Web Development Immersive I learnt and practiced:
                        <br>
                        Ruby, <b>Rails, GitHub, HTML5/HAML, CSS/SASS,</b> Sublime, <b>Foundation</b>, Devise/Oauth, Sinatra, Javascript/JQuery, Coffeescript, Backbone, SQL, PostgreSQL, deployment on Heroku, <b>agile web development</b>, responsive vs adaptive styling.  
                        <br>
                        <br>
                        I'm currently working with: 
                        <br>python/django, php/wordpress and bootstrap.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Illustration</h4>
                        <p class="text-muted">I'm self-taught in:
                        <br>
                        <b>Photoshop</b>, Colour theory, graphic and product design, <b>digital illustration</b> with graphic tablets and softwares such as Paint Tool SAI and PS, manual illustration with pencils/paper. </p>
                    </div>
                </div>
            </div>
        </section>