<!-- About Section -->
<section id="studies">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Studies and experience</h2>
                <p class="large text-muted">I’m a web developer with a background in Information Architecture and UX, but everything is shaped by my desire to understand and be understood (hence my BA in linguistic mediation) in the most beautiful and clear way possible. </br></br></br> 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2009-2013</h4>
                                <h4 class="subheading">BA in Cultural Linguistic Mediation</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    <h4 class="section-subheading text-muted">
                                        @ Universitá di Bologna (SLLTI Forlì)
                                    </h4>
                                    <p class="hidden-xs">
                                        Dissertation on the differences between traditional and independent publication.
                                        Linguistic mediation and translation to and from italian, english, spanish and portuguese
                                        (2010/11: Erasmus in Portugal at ISLA Campus Lisboa)
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Mar 2013 – Jun 2014</h4>
                                    <h4 class="subheading">Workshop in Comics techniques</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        <h4 class="section-subheading text-muted">@ Mestieri d'Arte </h4>
                                        <p class="hidden-xs"> 
                                            Comics creation’s workshop: script-writing, illustration, colouring and lettering. </p>
                                            (Have a look at my <a href="https://www.behance.net/gallery/18049997/a-Fanart-Marvel-style-cover-" target="_blank">final project</a>)
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>Jun 2013 – May 2014</h4>
                                        <h4 class="subheading">Master in Information Architecture</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">
                                            <h4 class="section-subheading text-muted">@ Università Per Stranieri Di Perugia </h4>
                                            <p class="hidden-xs"> 
                                                Curses on, among others, UX, UID, IA, wireframing, prototyping, benchmarking, card-sorting
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-image">
                                        <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4>Jan – Apr 2014</h4>
                                            <h4 class="subheading">UX/UID Internship</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p class="text-muted">
                                                <h4 class="section-subheading text-muted">@ E-xtrategy </h4>
                                                <p class="hidden-xs">
                                                    A three-month internship during my master in IA and UX</p>
                                                    (Discover my projects on <a href="https://www.behance.net/elenamvk" target="_blank">Behance</a>)
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-image">
                                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4>Mar  – May 2015</h4>
                                                <h4 class="subheading">Web Development Immersive</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p class="text-muted">
                                                    <h4 class="section-subheading text-muted">@ General Assembly </h4>
                                                    <p class="hidden-xs">
                                                        A three-month coding bootcamp where I learnt Ruby, Sinatra, Javascript/JQuery, HTML5/HAML, CSS/SASS, SQL, PostgreSQL, Heroku, Github amongst others. </p>
                                                        (Discover my projects on <a href="https://github.com/elenamvk" target="_blank">Github</a>)
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="timeline-inverted">
                                            <div class="timeline-image">
                                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h4>Jul 2015 – Ongoing</h4>
                                                    <h4 class="subheading">Jr Web Developer</h4>
                                                </div>
                                                <div class="timeline-body">
                                                    <p class="text-muted">
                                                        <h4 class="section-subheading text-muted">@ Positive Luxury </h4>
                                                        <p>
                                                            Full-stack web developer working with python/django, php/wordpress, and completing my coding education with senior-mentoring.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="timeline-image">
                                                    <h4>To be continued</h4>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>