<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Studies</h2>
                <p class="large text-muted">I’m a web developer with a background in Information Architecture and UX, but everything is shaped by my desire to understand and be understood (hence my BA in linguistic mediation) in the most beautiful and clear way possible. Having learnt how to style my blog with HTML and CSS when I was 14 years old, and after accomplishing the perfect flat white as a barista, earlier this year I decided to formalise my coding skills with WDI. </br></br></br> 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2009-2013</h4>
                                <h4 class="subheading">BA in Cultural Linguistic Mediation</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    <h4 class="section-subheading text-muted">
                                        @ Sede di Forlì della Scuola di Lingue e Letterature, Traduzione e Interpretazione (SLLTI Forlì)
                                    </h4>
                                    Dissertation on the differences between traditional and independent publication.
                                    Linguistic mediation and translation to and from italian, english, spanish and portuguese
                                    (2010/11: Erasmus in Portugal at ISLA Campus Lisboa)</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Mar 2013 – Jun 2014</h4>
                                    <h4 class="subheading">Workshop in Comics techniques</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    <h4 class="section-subheading text-muted">@ Mestieri d'Arte </h4>
                                        Comic books creation’s workshop: script-writing, illustration, colouring and lettering. (have a look at my final project: bit.ly/illustrationproject)
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jun 2013 – May 2014</h4>
                                    <h4 class="subheading">Master in Information Architecture</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    <h4 class="section-subheading text-muted">@ Università Per Stranieri Di Perugia </h4>
                                        Curses on, among others, UX, UID, IA, wireframing, prototyping, benchmarking, card-sorting
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Mar  – May 2015</h4>
                                    <h4 class="subheading">Web Development Immersive</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    <h4 class="section-subheading text-muted">@ General Assembly </h4>
                                        A three-month coding bootcamp where I learnt Ruby, Sinatra, Javascript/JQuery, HTML5/HAML, CSS/SASS, SQL, PostgreSQL, Heroku, Github amongst others. (read about my projects on my github: bit.ly/githubElenamvk)
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Onwards
                                    <br>and
                                    <br>upwards!</h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>